.bikes-bookings-section {
  button {
    width: 100%;
  }

  .reserve-button {
    width: 100% !important;
  }
  .show-calendar-button {
    width: 94%;
  }

  .calendar-container .rmdp-wrapper {
    margin-left: 0;
  }
  .bike-details div {
    text-align: left;
  }

  .bike-details {
    width: 16rem;
  }

  .bike-card-section {
    width: 57%;
  }
}
