.controlsContianer {
  margin-left: 1rem;

  button {
    margin: 0 0.5rem;
  }

  .controls-container-buttons {
    height: 7%;
    display: flex;
  }
}

.controls-to-manage-user {
  margin-left: 0;

  button {
    margin: 1rem 1rem 1rem 0;
  }
}
