.user-details-edit-form-container {
  // input {
  //   margin-top: 7rem;
  // }

  .MuiInputBase-root {
    margin-top: 7rem;
    margin-left: 0.7rem !important;
  }

  .formSubmitButtonContainer {
    margin-top: 2rem;
  }
}
